/* Add here all your CSS customizations */


.page-header .breadcrumb a{
    color: #aaa !important;
}


.logo-size{
    width: 100%;
    height: auto;
}


@media (max-width: 991px){
    .logo-size{
        width: 50%;
        height: auto;
    }
    
}